/UGDownloader/chromedriver.exe
/UGDownloader/geckodriver.log
/UGDownloader/main.py.pclprof
/UGDownloader/_UGDownloaderFiles/.wdm/drivers/chromedriver/win32/110.0.5481/chromedriver.exe
/UGDownloader/_UGDownloaderFiles/.wdm/drivers/chromedriver/win32/110.0.5481/driver.zip
/UGDownloader/_UGDownloaderFiles/.wdm/drivers.json
/UGDownloader/_UGDownloaderFiles/failurelog.txt
/UGDownloader/_UGDownloaderFiles/.wdm/drivers/geckodriver/win64/0.32/geckodriver.exe
/UGDownloader/_UGDownloaderFiles/.wdm/drivers/geckodriver/win64/0.32/geckodriver-v0.32.2-win64.zip
/UGDownloader/_UGDownloaderFiles/.wdm/drivers/chromedriver/win32/110.0.5481/LICENSE.chromedriver
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/UGDownloader/Tabs/SUMAC/SUMAC - Thorn In The Lions Paw(1).gp5
/UGDownloader/Tabs/SUMAC/SUMAC - Thorn In The Lions Paw.gp5
/UGDownloader/_UGDownloaderFiles/todownload.txt
/.idea/UGDownloader.iml
/UGDownloader/_UGDownloaderFiles/userinfo.txt
/.idea/vcs.xml
/UGDownloader/build/main/base_library.zip
/UGDownloader/build/main/main.exe.manifest
/UGDownloader/main.spec
/main.spec
/UGDownloader/build/main/Analysis-00.toc
/UGDownloader/build/main/EXE-00.toc
/UGDownloader/dist/main.exe
/UGDownloader/build/main/main.pkg
/UGDownloader/build/main/PKG-00.toc
/UGDownloader/build/main/PYZ-00.pyz
/UGDownloader/build/main/PYZ-00.toc
/UGDownloader/build/main/Tree-00.toc
/UGDownloader/build/main/Tree-01.toc
/UGDownloader/build/main/Tree-02.toc
/UGDownloader/build/main/warn-main.txt
/UGDownloader/build/main/xref-main.html
