selenium==4.16.0
webdriver_manager==4.0.1
requests~=2.31.0
customtkinter==5.2.2
setuptools==70.0.0
utils~=1.0.2
future~=0.18.3
psutil~=5.9.8
pytest~=7.4.4
packaging~=23.2
UGDownloader~=0.0.0
watchdog~=5.0.3
seleniumbase~=4.17.12